<h1>To Do</h1>

<p>Create a new list:</p>

<form action="/stylists" method="post">
  <label for="name">Enter Stylists:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add list</button>
</form>

<% if @lists.any?() %>
<p>Check on stylist to see how many clients each has:</p>

<ul>
  <% @lists.each do |list| %>
  <li><a href="/lists/<%= list.id() %>"><%= list.name() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no lists yet!</p>
<% end %>
